@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
::-webkit-scrollbar { display: none; }
* { 
    font-family: var(--font);
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
:root {
    font-size: 14px;
    --font : 'Poppins', sans-serif;
    --color-white : #FFFFFF;
    --color-gray  : #EEEEEE;
    --color-black : #222222;
    --palatte-1-1 : #152744;
    --palatte-1-2 : #367591;
    --palatte-1-3 : #53bca0;
    --palatte-1-4 : #9DFDC7;
    --palatte-2-1 : #064635;
    --palatte-2-2 : #058357;
    --palatte-2-3 : #F0BB62;
    --palatte-2-4 : #F4EEA9;
    --transparent-white : #ffffffaa;
    --transparent-black : #00000050;
}
body {
    position: relative;
}
.video-background {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
}

.error {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 1em;
    padding: .5em 1em;
    border-radius: 1em;
    color: var(--color-white);
    background-color: #ff383880;
}
.error i {
    font-size: 2em;
    margin: 0 .4em 0 0;
}
.success {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 1em;
    padding: .5em 1em;
    border-radius: 1em;
    color: var(--color-white);
    background-color: #0b980980;
}
.success i {
    font-size: 2em;
    margin: 0 .4em 0 0;
}

.jumbotron {
    display: flex;
    justify-content: center;
    background: linear-gradient(#367591DD,#152744DD);
}
.jumbotron .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    width: 80%;
    max-width: none;
    padding: 6em 0 4em;
}
.jumbotron .detail {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 0 2% 0 0;
    width: 62%;
}
.jumbotron .detail .big-title {
    margin: .8em 0;
    color: var(--color-white);
}
.jumbotron .detail .title {
    width: fit-content;
    margin: 0 0 1em;
    padding: .2em .5em;
    color: var(--color-black);
    background-color: var(--palatte-2-4);
}
.jumbotron .detail .sub-title {
    font-weight: normal;
    line-height: 1.8em;
    margin: .5em 0 2em;
    color: var(--color-white);
}
.jumbotron .detail .time {
    line-height: 1.8em;
    color: var(--palatte-2-4);
}
.jumbotron .detail .time i {
    margin: 0 .5em 0 0;
}
.jumbotron .detail .countdown {
    display: flex;
    font-size: 1.2rem;
    margin: 1.5em 0;
}
.jumbotron .detail .countdown > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 5.5em;
    margin: .3em;
    padding: 1em;
    border-radius: 1em;
    color: var(--color-white);
    background: radial-gradient(#FFFFFF50,#FFFFFF90);
}
.jumbotron .detail .countdown > span.expired {
    width: 20em;
}
.jumbotron .form {
    max-width: 23em;
    padding: 2em 2em .8em; 
    border-radius: 0 2em;
    background: linear-gradient(var(--palatte-1-4),var(--palatte-1-3));
    box-shadow: .2em .2em 2em var(--transparent-black);
}
.jumbotron .form form {
    display: flex;
    flex-direction: column;
}
.jumbotron .form form .title {
    margin: 0 0 .5em;
    color: var(--color-black);
}
.jumbotron .form form .sub-title {
    margin: 0 0 2em;
    color: var(--palatte-2-1);
}
.jumbotron .form form ul li {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 1em;
}
.jumbotron .form form ul li label {
    font-size: .9em;
    font-weight: bold;
    margin: 0 0 .3em;
    color: var(--palatte-2-1);
}
.jumbotron .form form ul li input {
    width: 100%;
    padding: .5em 1em;
    border-radius: 10em;
    border: none;
    color: var(--color-black);
    background-color: var(--transparent-white);
}
.jumbotron .form form ul li input::placeholder {
    color: var(--transparent-black);
}
.jumbotron .form form ul li input:focus {
    outline: none;
    background-color: var(--color-white);
}
.jumbotron .form form ul li select {
    width: 100%;
    padding: .5em 1em;
    border-radius: 10em;
    border: none;
    color: var(--color-black);
    background-color: var(--transparent-white);
}
.jumbotron .form form ul li select:focus {
    outline: none;
    background-color: var(--color-white);
}
.jumbotron .form form ul li button {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
    padding: .5em;
    border-radius: 10em;
    border: none;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--palatte-2-2);
}
.jumbotron .form form ul li button:active {
    background-color: var(--palatte-2-3);
}
.jumbotron .form form ul li .link {
    font-size: 1em;
    text-align: center;
    color: var(--color-black);
}
.jumbotron .form form ul li .link a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: var(--palatte-2-2);
}
.jumbotron .form form ul li .link a:hover {
    text-decoration: underline;
    filter: hue-rotate(180deg);
}
.jumbotron .go-to {
    display: block;
    text-align: center;
    width: 100%;
    margin: 4em 0 0;
    cursor: pointer;
    user-select: none;
    color: var(--transparent-white);
}
.jumbotron .go-to:hover {
    color: var(--color-white);
}
.jumbotron .go-to i {
    font-size: 2em;
}

.background {
    display: flex;
    justify-content: center;
    background: linear-gradient(#152744DD,#152744FE);
}
.background .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 58em;
    padding: 1em 0;
}
.background .title {
    text-align: center;
    margin: 0 0 .5em;
    color: var(--palatte-2-3);
}
.background .sub-title {
    text-align: center;
    max-width: 30em;
    margin: 0 0 2.5em;
    color: var(--palatte-2-4);
}
.background p {
    text-align: justify;
    margin: 0 0 1em;
    color: var(--transparent-white);
}
.background p img {
    float: left;
    width: 19em;
    margin: 0 1.5em 0 1.5em;
    padding: .7em;
    border-radius: 0 2em;
    background: var(--color-gray);
}

.advantage {
    display: flex;
    justify-content: center;
    background: linear-gradient(#152744FE,#152744CC);
}
.advantage .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 60em;
    padding: 0 0 5em;
}
.advantage .advantage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 1.5em;
    width: 48%;
    border-radius: 1em;
    background: radial-gradient(transparent 0%,#FFFFFF60 100%);
    box-shadow: .2em .2em 1em var(--transparent-black);
}
.advantage .advantage-box .title {
    margin: 0 0 .5em;
    color: var(--palatte-2-4);
}
.advantage .advantage-box p {
    color: var(--color-gray);
}

.topics {
    display: flex;
    justify-content: center;
    background: linear-gradient(#152744CC,#367591DD);
}
.topics .container {
    display: flex;
    flex-direction: column;
    padding: 3em 0;
}
.topics .title {
    position: relative;
    width: fit-content;
    margin-left: 1em;
    margin-bottom: 1em;
    z-index: 1;
    color: var(--color-white);
}
.topics .title > span {
    position: absolute;
    top: .9em;
    right: -.4em;
    bottom: 0;
    left: -.4em;
    z-index: -1;
    background-color: var(--palatte-1-2);
}
.topics .topic-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1em;
    padding: 1em;
    border-radius: 0 1.5em;
    background: radial-gradient(transparent,var(--transparent-white));
}
.topics .topic-box span {
    position: absolute;
    font-size: 4em;
    font-weight: 800;
    top: -.5em;
    left: .35em;
    margin: 0 1em 0 0;
    z-index: 1;
    color: var(--color-gray);
    -webkit-text-stroke: .04em var(--transparent-black);
    text-shadow: .1em .1em .1em #00000050;
}
.topics .topic-box p {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 0 0 4em;
    color: var(--color-white);
}

.keynote-speaker {
    display: flex;
    justify-content: center;
    background: linear-gradient(#367591DD,#367591FE);
}
.keynote-speaker .container {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 50em;
    padding: 3em 0;
}
.keynote-speaker .photo {
    height: 12em;
    width: 12em;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--palatte-1-1);
    box-shadow: .2em .2em 1.5em #00000030;
}
.keynote-speaker .text {
    padding: 2em;
}
.keynote-speaker .text .title {
    margin: 0 0 .5em;
    color: var(--palatte-2-4);
}
.keynote-speaker .text .sub-title {
    margin: 0 0 .5em;
    color: var(--color-gray);
}

.international-speaker {
    display: flex;
    justify-content: center;
    background: linear-gradient(#367591FE,#367591EE);
}
.international-speaker .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    max-width: 55em;
    padding: 1em 0;
}
.international-speaker .container > .title {
    text-align: center;
    min-width: 100%;
    margin: 0 0 1em;
    color: var(--palatte-2-4);
}
.international-speaker .speaker-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 16em;
    margin: 1%;
    border-radius: 2em 0;
    background: linear-gradient(var(--color-white) 70%,#BEBEBE 100%);
    box-shadow: .2em .2em 1em #00000030;
}
.international-speaker .speaker-box .photo {
    position: relative;
    height: 14em;
    width: 100%;
    object-fit: cover;
    border-radius: 2em 0 0;
    background-color: var(--palatte-1-1);
}
.international-speaker .speaker-box .flag {
    position: absolute;
    right: 0;
    width: 4em;
    padding: .5em;
}
.international-speaker .speaker-box .text {
    padding: 1.5em;
}
.international-speaker .speaker-box .text .title {
    margin: 0 0 .5em;
    color: var(--palatte-1-1);
}
.international-speaker .speaker-box .text p {
    color: var(--color-black);
}

.national-speaker {
    display: flex;
    justify-content: center;
    background: linear-gradient(#367591EE,#367591DD);
}
.national-speaker .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 60em;
    padding: 1em 0;
}
.national-speaker .container > .title {
    width: 100%;
    color: var(--palatte-2-4);
    margin: 0 0 .5em;
}
.national-speaker .speaker-box {
    display: flex;
    align-items: stretch;
    width: 46%;
    margin: 2%;
    border-radius: 2em 0;
    background: linear-gradient(var(--color-white) 70%,#BEBEBE 100%);
    box-shadow: .2em .2em 1em #00000030;
}
.national-speaker .speaker-box .photo {
    height: 15em;
    width: 12em;
    object-fit: cover;
    border-radius: 2em 0 0;
    background-color: var(--palatte-1-1);
}
.national-speaker .speaker-box .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1.5em;
}
.national-speaker .speaker-box .text .title {
    margin: 0 0 .5em;
    color: var(--palatte-1-1);
}
.national-speaker .speaker-box .text p {
    color: var(--color-black);
}

.invited-speaker {
    display: flex;
    justify-content: center;
    background: linear-gradient(#367591DD,#53bca0DD);
}
.invited-speaker .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 60em;
    padding: 1em 0;
}
.invited-speaker .container > .title {
    width: 100%;
    margin: 0 0 .5em;
    color: var(--palatte-2-4);
}
.invited-speaker .speaker-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 48%;
    max-width: 37em;
    margin: 2% 1%;
}
.invited-speaker .speaker-box .photo {
    height: 8em;
    width: 8em;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--palatte-1-1);
    box-shadow: .2em .2em .5em #00000030;
}
.invited-speaker .speaker-box .flag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2.5em;
}
.invited-speaker .speaker-box .text {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}
.invited-speaker .speaker-box .text .title {
    margin: 0 0 .2em;
    color: var(--color-white);
}
.invited-speaker .speaker-box .text p {
    color: var(--color-gray);
}

.details {
    display: flex;
    justify-content: center;
    background: linear-gradient(#53bca0DD,var(--palatte-1-3));
}
.details .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    padding: 3em 0;
}
.details .detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 1%;
    padding: 3em;
    border-radius: 1em;
    background: radial-gradient(#FFFFFF60 0%,var(--transparent-white) 100%);
    box-shadow: .2em .2em 1em var(--transparent-black);
}
.details .detail-box .title {
    margin: 0 0 .5em;
    color: var(--palatte-2-1);
}
.details .detail-box ul {
   display: flex;
   flex-direction: column;
   padding: 0;
}
.details .detail-box ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: .5em 0;
}
.details .detail-box ul li i {
    font-size: 2em;
    margin: 0 .5em 0 0;
}

.credit {
    display: flex;
    justify-content: center;
    background: linear-gradient(var(--palatte-1-3),var(--palatte-1-4));
}
.credit .container  {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 70em;
    padding: 1em 0 3em;
}
.credit .rundown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credit .rundown .title {
    position: relative;
    text-align: center;
    margin: 0 0 1.5em;
    z-index: 1;
    color: var(--color-black);
}
.credit .rundown .title span {
    position: absolute;
    left: 15%;
    bottom: 0;
    height: .6em;
    width: 70%;
    opacity: .3;
    z-index: -1;
    background-color: var(--palatte-2-4);
}
.credit .rundown table {
    border-collapse: collapse;
    width: 100%;
    max-width: 30em;
    background: radial-gradient(#FFFFFF40 0%,var(--transparent-white) 80%,#FFFFFFAA 100%);
    border: 1px solid var(--palatte-2-1);
    outline: .5em solid var(--color-white);
}
.credit .rundown table th {
    padding: .6em 1em;
    background-color: var(--palatte-2-4);
    border: 1px solid var(--palatte-2-1);
}
.credit .rundown table td {
    padding: .5em 1em;
    border: 1px solid var(--palatte-2-1);
}
.credit .rundown table tr td:first-child {
    text-align: center;
}
.credit .rundown ul {
    max-width: 30em;
    margin: 2.5em 0 0;
}
.credit .rundown ul li {
    list-style: none;
    margin: 0 0 1em;
}
.credit .committee {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 4em;
}
.credit .committee > .title {
    position: relative;
    text-align: center;
    margin: 0 0 1em;
    z-index: 1;
    color: var(--color-black);
}
.credit .committee > .title > span {
    position: absolute;
    left: 15%;
    bottom: 0;
    height: .6em;
    width: 70%;
    opacity: .3;
    z-index: -1;
    background-color: var(--palatte-2-4);
}
.credit .committee ol {
    width: 100%;
    padding: 1em;
}
.credit .committee ol .title {
    margin: 0 0 .5em;
    color: var(--color-black);
}
.credit .committee ol li {
    margin: 0 0 .2em 2em;
}

.user {
    display: flex;
    justify-content: center;
    background: linear-gradient(#367591CC,#152744EE,var(--palatte-1-1));
}
.user .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 80%;
    max-width: 50em;
    padding: 4em 0;
}
.user .container > .title {
    margin: 0 0 .2em;
    color: var(--color-white);
}
.user .container > .sub-title {
    margin: 0 0 2em;
    color: var(--palatte-2-4);
}
.user .admin-button {
    display: block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    margin: 1em auto 2em;
    padding: .2em 1em;
    color: var(--color-white);
    background-color: var(--palatte-1-3);
    text-shadow: 1px 1px 1px #00000070;
}
.user .back {
    position: absolute;
    display: block;
    text-decoration: none;
    top: 2em;
    left: 0;
    color: white;
}
.user .status  {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
    border-radius: 1em;
}
.user .status i {
    font-size: 2em;
    margin: 0 .5em 0 0;
    color: var(--color-white);
}
.user .status .status-text  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--color-white);
}
.user .status .status-text .title {
    margin: .2em 1em .2em 0;
}
.user .status .status-text .title > a {
    font-size: 1rem;
    font-weight: 600;
    color: #152744;
}
.user .status .status-text form button {
    white-space: nowrap;
    margin: .2em 0 .2em;
    padding: .2em 1em;
    cursor: pointer;
    border: none;
    border-radius: 10em;
    color: var(--color-black);
    background-color: var(--color-white);
}
.user .form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1em;
}
.user .form ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.user .form ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 48%;
    margin: 0 1% 1.5em;
}
.user .form ul li:last-child {
    width: 100%;
}
.user .form ul li input {
    font-size: 1rem;
    width: 100%;
    padding: .5em 1em;
    border-radius: 10em;
    border: none;
    color: var(--color-white);
    background-color: #FFFFFF40;
}
.user .form ul li input::placeholder {
    color: var(--transparent-white);
}
.user .form ul li input:focus {
    outline: none;
    background-color: #FFFFFF60;
}
.user .form ul li label {
    margin: 0 0 .3em;
    color: var(--transparent-white);
}
.user .form ul li label small {
    color: #FFFFFF40;
}
.user .form ul li input:focus ~ label {
    color: white;
}
.user .form ul li > a {
    display: block;
    text-align: right;
    text-decoration: none;
    margin: .8em .5em 0 0;
    color: var(--palatte-2-4);
}
.user .form ul li button {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    margin: 3em auto 1em;
    padding: .5em 2.5em;
    border-radius: 10em;
    border: none;
    cursor: pointer;
    color: var(--color-black);
    background-color: var(--palatte-1-4);
}
.user .form ul li .logout {
    display: block;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    color: var(--color-white);
}
.user .form ul li .logout:hover {
    text-decoration: underline;
}

.admin {
    display: flex;
    justify-content: center;
    background: linear-gradient(#367591CC,#152744EE,var(--palatte-1-1));
}
.admin .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    padding: 4em 0;
}
.admin .back {
    position: absolute;
    display: block;
    text-decoration: none;
    top: 2em;
    left: 0;
    color: white;
}
.admin .title {
    margin: 0 0 1em;
    color: var(--palatte-2-4);
}
.admin .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 2em;
}
.admin .action .export {
    display: block;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    height: fit-content;
    padding: .2em 1em;
    border-radius: 10em;
    color: var(--color-black);
    background-color: var(--palatte-2-4);
}
.admin .action .search-bar {
    width: 100%;
    max-width: 300px;
}
.admin .action .search-bar input {
    width: 100%;
    padding: .2em 1em;
}
.admin .action .search-bar input:focus {
    outline: none;
}
.admin .status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 90em;
    margin: 0 0 2em;
}
.admin .status li {
    list-style: none;
    width: 15%;
    margin: .5%;
}
.admin .status li a {
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    padding: .5em 1.5em;
    border-radius: 10em;
    color: var(--color-white);
    background: radial-gradient(transparent,#FFFFFF60);
}
.admin .status li a:hover {
    background-color: var(--palatte-1-2);
}
.admin .table {
    min-height: 65vh;
    width: 100%;
    overflow-x: auto;
}
.admin .table table {
    border-collapse: collapse;
    white-space: nowrap;
    width: 100%;
}
.admin .table table th {
    padding: .5em 1em;
    color: var(--color-white);
    background-color: #FFFFFF50;
    border: 1px solid var(--transparent-white);
}
.admin .table table td {
    padding: .3em 1em;
    color: var(--color-white);
    background-color: #FFFFFF20;
    border: 1px solid var(--transparent-white);
}
.admin .table table td > a {
    display: block;
    text-align: center;
    color: var(--palatte-1-4);
}
.admin .table table td > .button {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: .2em;
    padding: .2em .7em;
    border-radius: 1em;
    color: var(--color-black);
    background-color: #00ff1a;
    text-shadow: 1px 1px 1px #FFFFFF50;
}
.admin .table table td > .button:last-child {
    color: var(--color-white);
    background-color: #ff3c3c;
    text-shadow: 1px 1px 1px #00000050;
}

footer {
    position: absolute;
    bottom: 0;
    display: block;
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 1em;
    color: var(--transparent-black);
}

@media only screen and (max-width: 1200px) {
    .jumbotron .container {
        width: 90%;
    }
    .jumbotron .detail {
        font-size: 1.1rem;
    }
    .jumbotron .detail .countdown {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1000px) {
    :root { font-size: 13px; }
    .jumbotron .container {
        flex-direction: column;
        padding: 2em 0 8em;
    }
    .jumbotron .detail {
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 40em;
        margin: 0 0 4em;
    }

    .national-speaker .container {
        flex-direction: column;
        align-items: center;
        max-width: 40em;
    }
    .national-speaker .speaker-box {
        width: 100%;
    }
    .national-speaker .speaker-box .photo {
        height: 10em;
    }

    .invited-speaker .container {
        flex-direction: column;
        align-items: center;
        max-width: 40em;
    }
    .invited-speaker .speaker-box {
        width: 100%;
    }

    .details .container {
        flex-direction: column;
        align-items: center;
    }
    .details .detail-box {
        width: 100%;
        max-width: 40em;
        padding: 2em;
    }
}

@media only screen and (max-width: 800px) {
    .jumbotron .container {
        width: 90%;
    }
    .jumbotron .detail {
        font-size: .9rem;
    }
    .jumbotron .detail .title {
        font-size: 1.5rem;
        color: var(--palatte-2-4);
        background-color: transparent;
    }
    .jumbotron .detail .countdown {
        font-size: .96rem;
    }

    .background p img {
        width: 12em;
        margin: 0 1.5em .1em 0  ;
    }
    
    .advantage .container {
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
    }
    .advantage .advantage-box {
        width: 100%;
    }

    .topics .container {
        align-items: center;
        width: 90%;
    }
    .topics .topic-box {
        width: 100%;
    }
    .topics .topic-box span {
        display: none;
    }
    .topics .topic-box p {
        margin: 0;
    }

    .keynote-speaker .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 30em;
    }

    .international-speaker .container {
        flex-direction: column;
        align-items: center;
    }
    .international-speaker .speaker-box {
        width: 100%;
        margin: 1em;
    }

    .national-speaker .container > .title {
        text-align: center;
        margin: 1.5em 0 1em;
    }
    .national-speaker .speaker-box {
        flex-direction: column;
        max-width: 16em;
        margin: 1em;
    }
    .national-speaker .speaker-box .photo {
        height: 14em;
        width: 100%;
    }

    .invited-speaker .container {
        width: 85%;
    }
    .invited-speaker .container > .title {
        text-align: center;
        margin: 1.5em 0 1em;
    }
    .invited-speaker .speaker-box .photo {
        font-size: .9em;
    }

    .credit .container {
        flex-direction: column;
        align-items: center
    }
    .credit .committee {
        padding: 0;
    }
    .credit .committee > .title {
        margin: 2em 0 1em;
    }
    .credit .committee ol {
        max-width: 35em;
    }

    .user .container {
        padding: 2em 0;
    }
    .user .form ul {
        flex-direction: column;
    }
    .user .form ul li {
        width: 100%;
    }

    .admin .status li {
        width: 48%;
        margin: 1%;
    }
    
    footer {
        font-size: .8rem;
    }
}